---
const platform = "github";
const username = "revert";
const platform2 = "Instagram";
const username2 = "revert";
const platform3 = "Linkedin";
const username3 = "revert";
const platform4 = "Twitter";
const username4 = "revert";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>
<footer>
    <p>Learn more about my projects on <a href={`https://www.${platform2}.com/${username2}`}>{platform2}</a>!</p>
</footer>
<footer>
    <p>Learn more about my projects on <a href={`https://www.${platform3}.com/${username3}`}>{platform3}</a>!</p>
</footer>
<footer>
    <p>Learn more about my projects on <a href={`https://www.${platform4}.com/${username4}`}>{platform4}</a>!</p>
</footer>